.nav-list {
    background: black;
    box-shadow: 0px 0px 10px;
    margin: 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-item {
        color: white;
        list-style: none;
        padding: 1rem;
        margin-right: 2rem;
    }
    
    .nav-item:first-child {
        margin-right: auto;
        margin-left: 2rem;
    }

    .selected-nav-item {
        padding: 1rem;
        background: white;
        color: black;
    }
}

